/*keyframes*/

@keyframes pushpin {
    0% {background-position-y: 4px;}
    50% {background-position-y: 5px;}
    75% {background-size: 33px;}
    100% {background-position-y: 5px;}
}

@keyframes hover_flutter {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(-4deg);}
    50% {transform: rotate(-4deg);}
    75% {transform: rotate(7deg);}
    100% {transform: rotate(2deg);}
}

@keyframes hover_flutter2 {
    0% {transform: rotate(-2deg);}
    25% {transform: rotate(4deg);}
    50% {transform: rotate(4deg);}
    75% {transform: rotate(-7deg);}
    100% {transform: rotate(-2deg);}
}