//main section includng Explanation, Participation, Benefits, Requirements, and Content Info

//"So What Is This About?"card--pink card with white text
.explanation {
  background-color: $color-4;
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  @include pin;
  @include box-shadow;
  @include center(80%);
  font-size: $font-size-small;
  @include margin-padding(0 0 20px 0, 30px);
  transform: rotate(1deg);
  z-index: 20;
  & h3 {
    font-size: $font-size-medium;
    margin-top: 20px;
    text-align: center;
  }
  @include breakpoint (medium) {
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    max-width: 80%;
    transform: translateY(30px);
  }
  @include breakpoint(large) {
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    max-width: 350px;
    position: absolute;
    right: 30px;
    top: 130px;
    transform: rotate(3deg);
  }
}

//"Participation"card --cream card with brown text and red floral

/*Cream, red-leaves and pin backgrounds*/
.participation {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background-color: $color-5;
  border: 30px solid $color-5;
  @include box-shadow;
  margin: 30px 0 15px -30px;
  transform: rotate(0deg);
  width: 100%;
  z-index: 50;
  & h3 {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    font-size: $font-size-medium;
    @include margin-padding(40px 0 0 -5px, 10px);
    transform: rotate(-3deg);
  }
  & p {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    font-size: $font-size-small;
    line-height: 1.2rem;
    @include margin-padding(0, 5px 25px 25px 20px);
    transform: rotate(-3deg);
  }
  & p:nth-of-type(1) {
    margin-left: -10px;
  }
  & p:nth-of-type(3) {
    margin-left: 10px;
  }
  @include breakpoint(small) {
    margin-left: 15px;
    padding: 0 10px 20px 40px;
    width: 70%;
    & h3 {
      @include margin-padding(40px 0 0 -40px, 10px);
    }
    & p {
      line-height: 1.4rem;
      width: 95%;
    }
    & p:nth-of-type(1) {
      @include margin-padding(0 0 10px -25px, 5px 20px 0 0); 
    }
    & p:nth-of-type(2) {
      @include margin-padding(0 0 10px -15px, 5px 20px 0 0);
    }
    & p:nth-of-type(3) {
      @include margin-padding(0 0 10px -5px, 5px 20px 0 0);
    }
  }
  @include breakpoint(medium) {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    padding: 0 10px 10px 50px;
    text-align: right;
    transform: rotate(-3deg);
    & h3 {
      margin: 40px 40px 0 0;
    }
  }
  @include breakpoint(large) {
    padding: 0 20px 20px 110px;
    position: absolute;
    margin: 60px 0 20px 0;
    width: 40%;
  }
  &::before {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    background: url('images/pin.svg') 50% 0 no-repeat, $color-3;
    background-size: 40px;
    @include box-shadow;
    content: '';
    height: 100%;
    left: -5px;
    position: absolute;
    transform: rotate(-3deg);
    width: 100%;
    z-index: -1;
    @include breakpoint(large) {
      background: url('images/red-leaves.png') -5% 45% no-repeat, url('images/pin.svg') 50% 0 no-repeat, $color-3;
      background-size: 150px, 35px;
    }
  }
}

//"Benefits"ticket--white ticket with barcode and gold line  
.benefits {
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  @include box-shadow;
  background: url('images/barcode_horizontal_2nd.png') 42% 98% no-repeat, url('images/pin.svg') 50% 0 no-repeat, #ffffff;
  background-size: 196px, 40px;
  height: 445px;
  @include margin-padding(30px auto 30px, 35px 20px 20px 20px);
  max-width: 180px;
  transform: rotate(2deg);
  width: 100%;
  z-index: 100;
  & h3 {
    margin-bottom: 5px;
    margin-top: 7px;
    text-align: center;
  }
  & p {
    border-bottom: 8px solid $color-7;
    font-size: $font-size-small;
    line-height: 1.2rem;
    padding: 5px 20px 1em 20px;
  }
  &:hover {
    animation: hover_flutter 1s ease;
  }
  @include breakpoint(xsmall) {
    background: url('images/barcode.png') 105% 45% no-repeat, url('images/pin.svg') 50% 0 no-repeat, #ffffff;
    background-size: 130px, 40px;
    grid-column: 1 / span 2;
    height: auto;
    margin: 30px auto;
    max-width: 600px;
    width: 90%;
    & h3 {
      margin: 0 0 5px 20px;
      text-align: left;
    }
    & p {
      border-bottom: none;
      line-height: 1.2rem;
      padding-right: 120px;
      padding-top: 0;
    }
  }
  @include breakpoint(medium) {
    -ms-transform: rotate(2deg) translateY(20px); 
    -webkit-transform: rotate(2deg) translateY(20px); 
    transform: rotate(2deg) translateY(20px);
  }
  @include breakpoint(large) {
    -ms-transform: rotate(2deg) translateY(0px); 
    -webkit-transform: rotate(2deg) translateY(0px); 
    grid-column: 2 / 3;
    margin: 160px 0 200px 20px;
    max-height: 200px;
    max-width: 700px;
    position: relative;
    right: -20px;
    transform: rotate(2deg) translateY(0px);
  }
}

//"Requirements"paper--white paper with brown text and checkmark 
.requirements {
  background: url('images/check.png') 0 45% no-repeat, url('images/pin.svg') 50% 0 no-repeat, #ffffff;
  background-size: 80px, 40px;
  @include box-shadow;
  @include margin-padding(0 0 0 -10px, 30px 20px 30px 60px);
  width: 85%;
  & h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  & p {
    font-size: $font-size-small;
  }
  & p:nth-of-type(1) {
    border-top: 15px solid $color-2;
    padding-top: 15px;
  }
  & role {
    background-color: $color-2;
  }
  @include breakpoint(small) {
    grid-column: 1 / span 2;
    margin: 20px auto;
    max-width: 600px;
  }
  @include breakpoint(softmed) {
    grid-column: 1 / 2;
  }
  @include breakpoint(large) {
    margin: 30px auto 20px auto;
  }
}

//bottom dark brown band with website/author information in white text 
p[role=contentinfo] {
  background-color: #382519;
  bottom: -142px;
  color: #ffffff;
  font-size: $font-size-large;
  left: 0;
  max-width: 100%;
  padding: 3rem;
  position: absolute;
  text-align: center;
  & a {
    color: $color-6;
    font-weight: normal
  }
  @include breakpoint(small) {
    bottom: -130px;
    font-size: $font-size-medium;
    padding: 60px 5% 90px 55%;
    text-align: right;
  }
  @include breakpoint(medium) {
    bottom: -160px;
  }
}