h2 {
  text-transform: uppercase;
}

h3 {
  color: $color-2;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.preamble h3,
.explanation h3,
.zen-resouces h3,
.preamble,
.explanation,
.zen-resources {
  color: $color-6;
}

h1,
h2,
.summary,
.benefits,
.requirements {
  background-color: $color-6;
}

a {
  &:link {
    @include links(bold, none, $color-2);
  }
  &:visited {
    @include links(bold, none, $color-6);
  }
  &:hover {
    color: lighten($color-2, 40%);
  }
  &:active {
    @include links(bold, none, $color-6);
  }
}

li {
  list-style-type: none;
}