/* descedant Combinator 
form hl {
    color: hsl(231, 48%, 48%);
    }

form p {
font-size: 36px; 
color: #c2185b;
}
*/

/* child Combinator
form > p {
font-size: 36px;
}
*/


/* adjacent Combinator 
label+ input { 
    display: block; 
    clear: both;
}

*/
/* universal selector 
* + fieldset { 
    margin: Sem 0;
}
*/

/* General Sibling */
label~ input { 
    display: block;
}
