* {
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: auto;
}

.row-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;
}

.col-grid {
    display: flex;
    min-height: 1800px;
    max-height: 120vw;
    width: 700px;
    margin: auto;
    flex-flow: column wrap;
}

.row-grid .card {
    flex-grow: 1;
    max-width: 50%;
    min-width: 25%;
}

.row-grid img {
    height: 75%;
    width: 100%;
}

.col-grid img {
    height: 75%;
    max-width: 100%;
}

.card {
    border: 1px solid #000;
    margin: 10px;
    object-fit: contain;
    border-radius: 5px;
}

.card h2 {
    text-align: center;
    margin-top: 7px
}