/* W01 Assignment - Google imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* W01 Assignment - Web Page Colors */

$main-color: #333333;
$nav-normal: #666666; 
$nav-visited: #666666;
$active-link: #deb887;
$active-hover: #00ddff;
$active-lines: #d0d0d0;

$break-large: 700px;

$main-font: "Helvetica";
$secondary-font: "Arial";
$last-option: "sans-serif";

$heading-main-font: "Lora";
$heading-secondary-font: "Serif";

/* W01 Assignment - Review Web Page - Main */
body{
    margin: 0;
    padding: 0;
    font-family: $main-font, $secondary-font, $last-option; 
}

/* W01 Assignment - Review Web Page - Header */
body{
    margin: 0;
    padding: 0;
    font-family: $main-font, $secondary-font, $last-option; 
    color: $main-color;
}
header{
 /*   background: white; */
    margin:0;
    padding: 35px;
    text-align:center;
    grid-area: header;
    color: $main-color;
    font-size: 25px;
    
}
header {
    color: black;
    & { 
        h1 a:visited {
            color: black;
        }
    }
    & a {
        &:link{
            text-decoration: none;
            color: $nav-normal;
        }  
        &:visited{
            color: $nav-normal;
        }
        &:active{
            color: $active-link;
        }
    }
    & ul a:hover{
        color: $active-hover;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6{
font-family:  $heading-main-font, $heading-secondary-font;
}

li{
    list-style: none;
    margin:10px;
}

 a {
    &:link{
        color: $nav-normal;
        text-decoration: none;
    }
    &:visited{
        color: $nav-visited;
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
 }
 
 /* W01 Assignment - Review Web Page - Article Cards */
 
.post-content h2 a {
    &:link{
        color: $nav-normal;
    }
    &:visited{
        color: $nav-normal;
    }
    &:active{
        color: $active-link;
    }
    &:hover{
        color: $active-hover;
    }
}

main{
    margin: 0;
    padding: 2.5em 0.8em 0 0.8em;
    grid-area: main;
}
.post-date{
    font-size: 25px;
    margin:20px;
    color: $nav-normal;
    border-bottom: 1px solid $active-lines; 
    text-align: right;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; 
}
article{
    margin:10px;
    margin-top:20px;
    background: white;
    padding: 15px;
    box-shadow: $active-lines 3px 3px 3px;
} 
img{
    text-align:center;
    width: 90%;
    margin-top:30px;
}
/* W01 Assignment - Navigation Links */
nav{
    border-top: 1px solid $active-lines;
    border-bottom: 1px solid $active-lines;
    text-align: center;
}

nav ul{
    padding-left: 0;
    padding: 0 0;
}
/* W01 Assignment - Review Web Page - Larger Screen */

@mixin breakpoint($break) {
    @if $break==large {
        @media (min-width: $break-large) {
            @content;
        }
    }


    @else {
        @media ($break) {
            @content;
        }
    }
}

@include breakpoint(large){
    body > div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 20px;
        grid-template-areas: 'header header header header'
                             'main main main main'
                             'main main main main'   
                             'main main main main';   
    }
    
    header ul li {
        font-size: 30px;
        color: $main-color;
    }

    .post-date{
        border-bottom: none;
    }

    body article{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 0 15px;
        grid-template-areas: 'div section';   
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    /* W01 Assignment - Review Web Page - Article Cards */
    article{
        padding: 0 0;
    }

    article section {
        padding-left: 20px;
        border-left: 1px solid $active-lines;
        border-bottom: 1px dotted $active-lines;
    }

    main article:last-child section{
        border-bottom: none;
    }
}