/* Header:
   H1: CSS Zen Garden
   H2: The Beauty of CSS Design */
header {
	padding: 0px;
	margin: 8vh 2vw 0vh 2vw;
}
header h1 { 
	rotate: 90deg;
	width: 10em;
	height: 3em;
}
header h2 {
	width: 35vw;
}

/* Summary class:
   2 paragraphs: "A demonstration of..." and "Download the example..." */
.summary {
	padding: 2em;
	width: 20vw;
	height: 85vh;
}
.summary p {
	padding: 1em 3em;
	width: 28vw;
}

/* Preamble class:
   H3: The Road to Enlightenment
   3 paragraphs after that */
.preamble {
	width: 40vw;
  padding-top: 2vh;
  padding-bottom: 5vh;
}
.preamble p {
}

/* Supporting class:
   Section and Main elements for the 4 main paragraphs of text */
.supporting {	
	margin: 0px 0vw;
	padding: 2em 2em;
}

/* Explanation class:
   H3 and p for "So What is This About?" */
.explanation {
	padding: 2em 40vw 2em 5vw;
}

/* Main class:
   3 H3+P sections for Participation, Requirements, Benefits
   Footer with HTML/CSS/CC/A11y/GH links */
.main {
	width: 70vw;
	padding-bottom: 10vh;
}
 
.participation {
	padding: 1vh 3vw 1vh 6vw;
}

.benefits {
	padding: 1em 2em;
}

.requirements {
	padding: 1em 4em;
}

footer { 
	padding: 1em 2em;
}

/* Design-selection class:
   H3 and Nav elements for Select a Design*/
.design-selection {
	padding: 1em 2em 1em 1em;
}
.design-selection nav {
	padding: 1vh 0vw;
	margin-top: 2vh;
}
.design-selection ul {
}
.design-selection li {
	padding: 1vh 1vw;
}

/* Links in the Select a Design Nav.
   Force the design names to have a newline (i.e., block) and
   shift them to the left */
a.design-name {
}

/* Zen-resources class:
   Menu of links at the bottom of the page */
.zen-resources {
	width: 42%;
	padding: 1em 2em 1em 2em;
}
.zen-resources h3 {
}

.zen-resources ul {
	padding: 1vh 0px;
}

.zen-resources li {
	padding: 1vh 0vw;
}

.zen-resources .view-css {
}
.zen-resources .css-resources {
}
.zen-resources .zen-faq {
}
.zen-resources .zen-submit {
}
.zen-resources .zen-translations {
}
