$color-1: #b8c8cc; //  Blue background
$color-2: #382519; // Dark Brown
$color-3: #efd9bf; // cream
$color-4: #ec637d; // dark pink
$color-5: #ffffff; // white
$color-6: #4b5548; // green
$color-7: #f2b975; // orange
$color-8: #ede3da; // light-cream



