body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.container {
  height: 500px;
  width: 445px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #333;
}
.upper {
  background-color: #fff;
  position: relative;
  flex: 1;
  width: 445px;
}
.heart {
  position: relative;
  width: 80px;
  height: 65px;
  left: 50%;
  -webkit-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
}
.heart::before,
.heart::after {
  position: absolute;
  content: "";
  left: 40px;
  top: 0;
  width: 40px;
  height: 60px;
  background: #f00;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.top {
  background-color: #fff;
  border: 10px solid #333;
  height: 20px;
  width: 50px;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
}
.point {
  border: 10px solid #333;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 100px;
  width: 5px;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-30%, 0);
}
.lower {
  position: relative;
  overflow: hidden;
  flex: 3;
  width: 445px;
}
.arc {
  border: 10px solid #333;
  border-radius: 50%;
  height: 1000px;
  width: 440px;
  position: absolute;
}
.arc:nth-child(1) {
  left: -250px;
  bottom: -100px;
}
.arc:nth-child(2) {
  right: -250px;
  bottom: -100px;
}
.semi-circle {
  border: 10px solid #333;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60px);
}
[class*=stage] {
  border: 10px solid #333;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  position: absolute;
}
.stage-1 {
  width: 140px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.stage-2 {
  width: 190px;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 0);
}
@-webkit-keyframes pulse {
  0% {
    transform: translate(-49%, -70%) scale(1);
  }
  50% {
    transform: translate(-49%, -70%) scale(1.2);
  }
  100% {
    transform: translate(-49%, -70%) scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: translate(-49%, -70%) scale(1);
  }
  50% {
    transform: translate(-49%, -70%) scale(1.2);
  }
  100% {
    transform: translate(-49%, -70%) scale(1);
  }
}