/* W01 Assignment - Google imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* W01 Assignment - Web Page Colors */
:root {
    --main-color: #333333;
    --nav-normal: #666666; 
    --nav-visited: #666666;
    --active-link: #deb887;
    --active-hover: #00ddff;
    --active-lines: #d0d0d0;
  }
 
/* W01 Assignment - Review Web Page - Main */
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif; 
}

/* W01 Assignment - Review Web Page - Header */
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif; 
}
header{
 /*   background: white; */
    margin:0;
    padding: 30px;
    text-align:center;
    grid-area: header;
    color: var(--main-color);
    font-size: 30px;
    
}
header h1 a {
    color: var(--main-color);
}

header h1 a:visited {
    color: black;
}
header a:link{
    text-decoration: none;
    color: var(--main-normal);
}  
header a:visited{
    color: var(--main-normal);
}
header a:active{
    color: var(--active-link);
}
header ul a:hover{
    color: var(--active-hover);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
font-family:  'Lora', 'Serif';
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}
li{
    list-style: none;
    margin:10px;
}

 a:link{
    color: var(--main-normal);
    text-decoration: none;
}
 a:visited{
    color:var(--nav-visited);
    text-decoration: none;
}
 a:hover{
    text-decoration: none;

}
.post-content h2 a:link{
    color: var(--main-color);
}
.post-content h2 a:visited{
    color: var(--main-color);
}
.post-content h2 a:active{
    color: var(--active-link);
}
.post-content h2 a:hover{
    color: var(--active-hover);
}
main{
    margin: 0;
    padding: 10px;
    grid-area: main;
}
.post-date{
    font-size: 30px;
    margin:10px;
    color: var(--main-normal);
    border-bottom: 1px solid var(--active-lines); 
    text-align: right;
    padding-top: 10px;
    padding-bottom: 5px;
}
article{
    margin:10px;
    margin-top:20px;
    background: white;
    padding: 15px;
    box-shadow: var(--active-lines) 3px 3px 3px;
} 
img{
    text-align:center;
    width: 90%;
    margin-top:30px;
}

nav{
    border-top: 1px solid var(--active-lines);
    border-bottom: 1px solid var(--active-lines);
    text-align: center;
}

nav ul{
    padding-left: 0;
}

@media screen and (min-width: 700px){
    body > div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 20px;
        grid-template-areas: 'header header header header'
                             'main main main main'
                             'main main main main'   
                             'main main main main';   
    }
    
    header ul li {
        font-size: 40px;
        color: var(--main-color);
    }

    .post-date{
        border-bottom: none;
    }

    body article{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 0 20px;
        grid-template-areas: 'div section';   
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    article{
        padding: 0 0;
    }

    article section {
        padding-left: 20px;
        border-left: 1px solid var(--active-lines);
        border-bottom: 1px dotted var(--active-lines);
    }

    main article:last-child section{
        border-bottom: none;
    }
}