@import url('https://fonts.googleapis.com/css?family=Lora');

 
h1,
h2,
h3,
h4,
h5,
h6 {

}
 
font-family: 'Lora', serif;
 

body {
font-family: 'Helvetica', 'Arial', sans-serif; margin: 0%;
}

header {
background: #6495ED; padding: 5%;
text-align: right;
}

header a,
header a:visited { color: #FAEBD7;
text-decoration: none;
}

header h1 a:active, header li a:active { color: #DEB887;
}

header a:hover { color: white;
text-decoration: underline;
}

nav ul li {
list-style: none; line-height: 2;
}

main {
background: #FAEBD7; padding: 4% 3% 4% 3%;
}

a {
color: #6495ED;
text-decoration: none;
}

a:active {
color: #DEB887;
}

a:hover {
text-decoration: underline;
}
article {
    padding: 5%;
    margin: 1%; background: white;
    filter: drop-shadow(2px 2px 3px gray);
    }
    
    article h2 a, article h2 a:visited { color: black;
    text-decoration: none;
    }
    
    article h2 a:active { color: #DEB887;
    }
    
    article h2 a:hover { color: #6495ED;
    text-decoration: underline;
    }
    
    img {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    }
    
    @media (min-width: 768px) { body div {
    display: flex;
    }
    
    header {
    width: 19%;
    }
    
    main {
    width: 79%;
    }
    }
    