body { font-size: 100% }
div { border: thin red solid; margin: 1em }
[id]:before { content: attr(id) ": " }
[class]:before { border: thin black dotted; content: attr(class) ": " }

p span { display: none }

#preamble:hover p span { display: inline }
#quickSummary:hover p span { display: inline }

/* div { border: medium red solid; margin: 1em }
[id]:before { content: attr(id); font-size: 15pt }
[class]:before { content: attr(class); font-size: 15pt; border: thin black dotted }
[class="accesskey"]:before { content: ""; border: none }
[class="accesskey"] { font-weight: bold }

span:before { content: "<span>"; color: white; background-color: blue }

span:after { content: "</span>"; color: white; background-color: blue }
*/