.raindrop {
  position: absolute;
  content: "";
  top: 200px;
  left: 700px;
  width: 200px;
  height: 200px;
  background: #65DEF1;
  transform: rotate(-45deg);
  transform-origin: top center;
  border-radius: 165% 0 165% 125%
}