@import url("https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro");
/* SCSS variables */
/*
$color-1: #b8c8cc; //  Blue background
$color-2: #382519; // Dark Brown
$color-3: #efd9bf; // cream
$color-4: #ec637d; // dark pink
$color-5: #ffffff; // white
$color-6: #4b5548; // green
*/
/* SCSS Mixins */
/* basic elements */
html {
  margin: 0;
  padding: 0;
}

body {
  font: 1em georgia, sans-serif;
  line-height: 1.5em;
  color: #382519;
  background: #b8c8cc;
  margin: 0;
  padding: 0;
  border-top: 175px solid #382519;
  font-family: Lora, Georgia, serif;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
}

h3 {
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #382519;
}

.preamble h3,
.explanation h3,
.zen-resouces h3,
.preamble,
.explanation,
.zen-resources {
  color: #ffffff;
}

h1,
h2,
.summary,
.benefits,
.requirements,
footer a {
  background-color: #ffffff;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #382519;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ba8563;
}

a:active {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

abbr {
  border-bottom: none;
}

li {
  list-style-type: none;
}

/* specific divs */
.page-wrapper {
  padding: 0 40px;
  margin: auto;
  position: relative;
}

header h1 {
  width: 255px;
  height: 230px;
  padding: 80px 30px 0px 30px;
  vertical-align: middle;
  display: inline-block;
  margin: -175px auto 40px auto;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-image: url("images/logo-ver-1.jpg");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: center center;
  font-size: 0;
  /* Image will be an SVG */
}

header h2 {
  font-size: 1.2em;
  width: 260px;
  height: 50px;
  color: #382519;
  background-color: #ffffff;
  line-height: 1em;
  padding: 60px 25px 0 25px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  margin: auto;
}

.summary {
  width: 260px;
  margin: auto;
  padding: 0 25px 25px 25px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-image: url("images/flower-combo.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: right -130px bottom -110px;
  font-size: 1em;
}

.summary p {
  width: 200px;
}

.summary p:nth-last-of-type(1) {
  padding-bottom: 75px;
}

.preamble {
  margin: auto;
  width: 80%;
  padding: 30px;
  background-color: #382519;
  color: #ffffff;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.preamble h3,
.preamble p,
.explanation h3 {
  text-align: center;
}

.explanation {
  margin: auto;
  padding: 30px;
  width: 75%;
  height: auto;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #ec637d;
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.participation {
  margin: auto;
  padding: 10px 25px 10px 100px;
  width: 60%;
  height: auto;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  background-color: #ede3da;
  background-image: url("images/red-leaves.png");
  background-repeat: no-repeat;
  background-size: 30% 60%;
  background-position: left center;
  font-size: 1em;
}

.participation h3,
.participation p {
  text-align: right;
}

.benefits {
  width: 80%;
  height: 275px;
  padding: 10px 20px 35px 50px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  border-right: 10px solid #f2b975;
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.requirements {
  padding: 30px 20px 30px 50px;
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.requirements h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.requirements p:nth-of-type(1) {
  border-top: 15px solid #382519;
  padding-top: 15px;
}

.requirements role {
  background-color: #382519;
}

.design-archives {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 15px;
  font-size: 0.8em;
  width: 150px;
  font-weight: normal;
  font-family: Lora, Georgia, serif;
  background-color: #efd9bf;
}

.design-archives ul {
  margin: 0;
  padding: 0;
}

.design-selection h3 {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 15px;
  font-size: 1em;
  background-color: #efd9bf;
}

.design-selection ul {
  -webkit-column-count: 2;
          column-count: 2;
}

.design-selection li {
  width: 150px;
  height: 100px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 30px;
  padding: 50px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #efd9bf;
}

.design-selection li:nth-child(1) {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(2) {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(3) {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(4) {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(5) {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(6) {
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(7) {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li:nth-child(8) {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.design-selection li a:link {
  color: #382519;
}

p[role=contentinfo] {
  position: absolute;
  bottom: 130px;
  left: -30px;
  background-color: #382519;
  color: #ffffff;
  width: 100%;
  text-align: right;
  padding: 75px 15% 75px 20%;
  font-size: 1.2em;
}

p[role=contentinfo] a {
  color: #ffffff;
}

footer a:link,
footer a:visited {
  margin-right: 20px;
}

.sidebar .wrapper {
  font: 1.2em verdana, "Source Sans Pro", Arial, sans-serif;
}

h3.select {
  margin: 10px 0 5px 0;
  width: 200px;
  text-transform: capitalize;
  background-image: url("images/blue-push-pin.png");
  background-position: top center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding-top: 50px;
  font-family: Lora, Georgia, serif;
}

h3.archives {
  margin: 25px 0 5px 0;
  text-transform: capitalize;
  font-family: Lora, Georgia, serif;
}

h3.resources {
  margin: 25px 0 5px 0;
  color: #ffffff;
}

.zen-resources {
  padding: 70px 20px 100px 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  width: 200px;
  background-color: #ec637d;
  background-image: url("images/blue-leaves.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
  font-size: 0.8em;
}

.zen-resources::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin-bottom: -71px;
  border-top: 75px solid #ec637d;
  border-right: 140px solid transparent;
  -webkit-filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
}

.zen-resources::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin-bottom: -71px;
  border-top: 75px solid #ec637d;
  border-left: 140px solid transparent;
  -webkit-filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
}

.zen-resources ul {
  margin: 0;
  padding: 0;
}

.zen-resources li {
  line-height: 1.4em;
}

.zen-resources li a:link {
  color: #ffffff;
}

.zen-resources li a:hover {
  color: #efd9bf;
}

.zen-resources a {
  font-family: Lora, Georgia, serif;
  font-weight: 100;
}

.sidebar li a:visited {
  color: #4b5548;
}

footer {
  width: 110%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #efd9bf;
}

footer a {
  border: 2px solid #382519;
  padding: 15px 5px;
  margin: auto;
  font-size: 0.8em;
  width: 50px;
}

a.zen-validate-html {
  background-image: url("images/icons/html.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  font-size: 0;
}

a.zen-validate-css {
  background-image: url("images/icons/css.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  font-size: 0;
}

a.zen-license {
  background-image: url("images/icons/creative-commons.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  font-size: 0;
}

a.zen-github {
  background-image: url("images/icons/github.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  font-size: 0;
}

a.zen-accessibility {
  background-image: url("images/icons/accessible.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  font-size: 0;
}

@media (min-width: 700px) {
  .page-wrapper {
    width: 90%;
    padding: 0 40px;
    margin: auto;
    position: relative;
    background-image: url("images/burlap.jpg");
    background-repeat: repeat;
  }
  header h2, .summary {
    margin: 0;
  }
  .preamble {
    width: 500px;
    margin: 0;
  }
  .explanation {
    width: 500px;
    margin: 0;
  }
  .participation {
    padding: 15px 30px 15px 140px;
    width: 650px;
    background-image: url("images/red-leaves.png");
    background-repeat: no-repeat;
    background-size: 150px 90%;
    background-position: left center;
    font-size: 1em;
  }
  .benefits {
    width: 450px;
    height: 165px;
    padding: 15px 30px 35px 70px;
    margin: 20px;
  }
  .benefits::after {
    content: "";
    padding: 38px 20px;
    margin-top: -165px;
    background: #ffffff;
    background-image: url("images/barcode_horizontal_2nd.png");
    background-size: 175px 50px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    height: 30px;
    width: 176px;
    left: 435px;
    display: block;
    -webkit-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.5);
  }
  .requirements {
    padding: 30px 30px 30px 80px;
    width: 500px;
    margin: 20px;
  }
  .design-selection ul {
    width: 500px;
  }
  .design-selection li {
    width: 200px;
    height: 200px;
    padding: 20px;
  }
  p[role=contentinfo] {
    width: 600px;
    padding: 100px 150px 100px 65%;
    left: -65px;
  }
  .sidebar .wrapper {
    padding: 40px;
  }
  .zen-resources {
    padding: 70px 30px 100px 30px;
  }
  footer {
    left: -55px;
  }
  footer a {
    padding: 20px 10px;
    margin: 0 10px;
  }
}
/*# sourceMappingURL=zen-styles.css.map */