/* Variables */
//colors
$body-background-color: white;
$body-background-color-small: red;
$body-background-color-medium: cyan;
$body-background-color-large: pink;
$form-background-color: white;
$form-background-color2: yellow;
$form-background-color3: blue;
$input-color: white;
$headlines-color : white;

@mixin center($width, $max-width:960px, $color:pink) {
    background-color: $color;
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

//set breakpoint sizes
$break-small: 15em;
$break-small2: 25em;
$break-medium: 40em;
$break-large: 60em;

@mixin breakpoint($break) {
    @if $break==large {
        @media (max-width: $break-large) {
            @content;
        }
    }

    @else if $break==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }

    @else if $break==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

/* STYLES */
body {
    background: $body-background-color;

    @include breakpoint(large) {
        background: $body-background-color-large;
    }

    @include breakpoint(medium) {
        background: $body-background-color-medium;
    }

    @include breakpoint(small) {
        background: $body-background-color-small;
    }

    @include breakpoint("max-width: 480px") {
        background: yellow;
    }

}

#contactform {
    background-color: $form-background-color;

    input,
    textarea {
        background-color: $input-color;
        flex: 2;
    }

	@include center(50%, 950px, green);
	@include breakpoint(large) {
        @include center(50%, 950px, yellow);
    }

    @include breakpoint(medium) {
        @include center(50%, 950px, rgb(128, 126, 0));
    }

    @include breakpoint(small) {
		@include center(50%, 950px, rgb(128, 0, 100));
		input {
			width: 100%;
			display: block;
		}
    }
    @include breakpoint("max-width: 480px") {
        background: rgb(0, 255, 85);
    }
}